
# Virtual environments
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

casp8

# PyTorch / TensorFlow checkpoints
*.pt
*.ckpt
*.h5
*.tfrecord
*.joblib
__pycache__

# Logs
*.log

# Data files
*.csv
*.tsv
*.json
*.jsonl
*.gz
*.zip
*.hdf5
*.fasta
*.pdb
*.dssp
*.npy
# Outputs
outputs/
results/

predictions/

# VSCode / IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Mac / Linux temp files
.DS_Store
*.swp
*~


# Testing / validation folders to ignore
testing/
testing_dataset/
validation/
validation_dataset/
